@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$erp-primary: #3FAAAA;
$erp-dark-background: #052D2D;
$erp-light-background: #F9F6F6;
$erp-white: #FFFFFF;

:host {
  font-family: 'Inter', sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/login-fundo.png');
  background-size: cover;
  background-position: center;
}

.login-background {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 448px;
  box-sizing: border-box;
}

.login-logo {
  height: 6rem;
  width: auto;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;

}

.full-width-field {
  width: 100%;

  .mat-mdc-form-field-flex {
    border-radius: 9999px;
    padding: 0 1rem;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0
  }

  .mat-mdc-form-field-outline-start,
  .mat-mdc-form-field-outline-gap,
  .mat-mdc-form-field-outline-end {
    border-radius: 9999px
  }

  .mat-mdc-form-field-input-control {
    color: #2d3748;
  }

  .mat-mdc-form-field-prefix .mat-icon {
    color: #a0aec0; // Cor cinza para os ícones
  }

  .mat-mdc-form-field-label {
    color: #a0aec0;
    padding-left: 1.5rem;
  }


  .mat-mdc-form-field:not(.mat-form-field-no-animations).mat-form-field-outline .mat-mdc-form-field-label.mdc-floating-label--float:not(.mat-form-field-hide-placeholder) {
    transform: translateY(-50%) scale(0.75) !important;
    padding-left: 1rem;
  }

  &.mat-focused {
    .mat-mdc-form-field-flex {
      box-shadow: 0 0 0 2px rgba(63, 170, 170, 0.5);
    }
    .mat-mdc-form-field-outline-thick {
      color: $erp-primary
    }
  }

  // Estilo para campo inválido
  &.mat-form-field-invalid {
    .mat-mdc-form-field-outline-thick {
      color: #ef4444
    }
    .mat-mdc-form-field-label {
      color: #ef4444
    }
    .input-icon-color {
      color: #ef4444
    }
  }
}

.login-button {
  height: 3.5rem; // Altura do botão
  border-radius: 9999px !important; // Arredonda o botão
  font-weight: 700;
  font-size: 1.125rem; // Tamanho da fonte
  background-color: $erp-primary; // Cor primária
  color: $erp-white; // Cor do texto do botão
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($erp-primary, 10%); // Escurece no hover
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    background-color: lighten($erp-primary, 20%) !important;
    color: black;
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.login-links {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
}

.login-link {
  color: $erp-white;
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
}

.login-link:hover {
  text-decoration: underline;
}

.server-error-message {
  margin-top: 1rem;
  color: #fca5a5;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}

.input-icon-color {
  color: #a0aec0;
}
