@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$erp-dark-background: #052D2D;
$erp-white: #FFFFFF;

:host {
  font-family: 'Inter', sans-serif;
}

.main-header {
  height: 5rem;
  background-color: $erp-dark-background;
  color: $erp-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
 box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),  // sombra leve
    0 4px 8px rgba(0, 0, 0, 0.1),  // sombra média
    0 8px 16px rgba(0, 0, 0, 0.05); // sombra mais difusa
}

.main-header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info span {
  font-weight: 500;
}

.logout-button {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: $erp-dark-background;
  color: $erp-white;
  border-radius: 9999px;
  font-size: 0.875rem;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button:hover {
  background-color: darken(#3FAAAA, 10%);
}

.logout-button:active {
  background-color: darken(#3FAAAA, 10%);
}
