<div class="dashboard-wrapper">
  <!-- Sidebar Component -->
  <app-sidebar></app-sidebar>

  <!-- Main Content Area -->
  <main class="dashboard-main-content">
    <!-- Header Component -->
    <app-header [title]="currentPageTitle"></app-header> <!-- Passa o título para o Header -->

    <!-- Page Content - AQUI SERÁ RENDERIZADO O CONTEÚDO DAS ROTAS FILHAS -->
    <section class="page-content">
      <router-outlet></router-outlet>
    </section>

    <!-- Footer -->
    <footer class="main-footer">
      <span>© 2025 Financeiro ERP.</span>
      <span>Todos os Direitos Reservados.</span>
      <span>Financeiro</span>
    </footer>
  </main>
</div>
